<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>SSPA Angular</title>
    <meta name="importmap-type" content="systemjs-importmap" />
    <script type="systemjs-importmap" src="/importmap.json"></script>
    <script src="https://cdn.jsdelivr.net/npm/zone.js/dist/zone.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/import-map-overrides/dist/import-map-overrides.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs/dist/system.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs/dist/extras/amd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs/dist/extras/named-exports.min.js"></script>
  </head>
  <body style="margin: 0;">
    <script>
      System.import("root-config");
    </script>
    <import-map-overrides-full></import-map-overrides-full>
  </body>
</html>
